
body {
    background-color: rgba(234, 233, 210, 0.93);
}

img {
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

h1 {
    background-color: #6F92A5;
    color: black;
    text-indent: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav ul {

    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-decoration: underline;
    align-items: center;
    padding: 1rem;
   
}

ul {justify-content: space-evenly;
color: orange;
font-weight: bold
}


a:link {
    color: orange;
}

a:visited {
   color: orange; 
}

a:hover {
    color: rgb(58, 119, 172);
}

.top-banner {
    position: relative;
    display: flex;
    max-height: 30rem;
   
}
h4 {background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-indent: 15px;
}


.banner-content {
    font-size: 36px;
    position: absolute;
    right: 0px;
    top: 80%;
    color: rgb(209, 115, 15);
    background-color: black;
    padding: .5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    }

.mid-banners {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 8rem;
    justify-content: center;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 32px;
    text-align: right;
    padding-left: 30px;
    padding: 10px;
}


.about-me {
    display: flex;
    padding: 2rem;


}

.work {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}



.card-box {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
padding-left: 4rem;


}


.left {
    width: 15%;
border-right: 5px solid black;
}

.right {
    width: 85%;
    padding: 2rem;

}

.intro {
    font-size: 24px;
    padding: 75px;
font-weight: 200;
}


.interest {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 8px solid #6F92A5 ;
    max-width: 70rem;
    min-width: 20rem;
    position: relative;
    /* margin-left: 70px; */
}



.small-interest {
    display: flex;
    max-width: 30rem;
    min-width: 10rem;;
    position: relative;
    border: 8px solid #6f92a5;
    margin-right: 30px;
    max-height: 300px;


}

.img-content {
    position: absolute;
    top: 75%;
    color: rgb(36, 37, 39);
    background-color: #6F92A5;
    padding: .5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    }
    
.contact {
    width: 100%;
    display: flex;
   flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;}

    .small-interest:hover {
        color: black;
        opacity: 50%;
    }

    .interest:hover {
        color: black;
        opacity: 50%;
    }